* {
    margin: 0;
    padding: 0;
}

#time {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
}

#time p {
    font-size: 45px;
}